# Turn on the rewriting engine
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/([a-zA-Z]+)/?$ restexample/index.php?method=$1 [L]
RewriteRule ^api/([a-zA-Z]+)/([0-9]+)/?$ restexample/index.php?method=$1&id=$2 [L]